:root {
    --custom-blue: #183A50;
    --custom-red: #BB616C;
    --custom-green: #89ACAA;
    --custom-beige: #CDBDB2;
}

* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: var(--custom-beige);
    background-image: url('grancan.jpg');
}

.nav {
    display:block;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
    z-index: 9999;
    transition: top 0.3s;
}

.nav-list a {
    margin: auto;
    font-size: 1.1rem;
    padding: 3em;
    color: var(--custom-beige);
}

a {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: var(--custom-red);
}

.contact-links a {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: white;
}

ul {
    list-style: none;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
}

li {
    display:inline;
}

h1 {
    font-size: 3rem;
    font-family: sans-serif;
    font-weight: 500;
    text-align: center;
    color: white;
    margin-bottom: 0.5em;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    text-align: center;
    color: var(--custom-beige);
}

p {
    font-size: 1.3 rem;
    font-family: 'Raleway', sans-serif;
}

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.about-section {
    justify-content: center;
    text-align: center;
    margin-top: 3em;
    color: var(--custom-beige);
}

#p-about{
    justify-content: center;
    text-align: center;
    padding: 2em 2em;
}

.project-section {
    text-align: center;
    padding: 6rem 2rem;
    background-color: #183A50;
}

h2 {
    font-size: 3rem;
}

.contact-section {
    justify-content: center;
	align-items: center;
}

.contact-links {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin-bottom: 6rem;
    flex-wrap: wrap;
}

.contact-details {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    transition: transform 0.3s ease-out;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
}

.btn:hover {
    animation:  shake 0.8s;
  }
  
  @keyframes shake{
    0%{
      transform: translateX(0)
    }
    25%{
      transform: translateX(25px);
    }
      
    50%{
      transform: translateX(-25px);
    }
    100%{
      transform: translateX(0px);
    }
  }

  .footer {
    display: flex;
    text-align: start;
    justify-content: space-evenly;
    padding: 2rem;
    background-color:var(--custom-blue);
    border-top: 4px solid var(--custom-red);
}

#footer-text {
    color: var(--custom-green);
}

#i-arrow {
    display: block;
    color: var(--custom-green);
    font-size: 8rem;
    margin: 2rem 2rem;
}

#i-list {
    display: block;
    color: var(--custom-beige);
    font-size: 3rem;
}

#i-text {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 1rem;
}

#i-contact a {
    display: block;
    padding: 1rem;
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    color: var(--custom-beige);
    font-weight: 500;
}

#i-contact i {
    margin-top: 2rem;
    font-size: 3rem;
    color: var(--custom-beige);
    font-weight: 500;
}